{% extends 'base.html.twig' %}

{% block title %}ajouter une entreprise{% endblock %}

 {% block nav %}
       	<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item active ">
					<a class="nav-link" href="{{ path('entreprise_index') }}">
						liste des entreprises</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{{ path('salarie_index') }}">
						liste des salariés</a>
				</li>
            </ul>
        </div>	
	</nav>
 {% endblock %}
{% block body %}


    {% if editMode %}
        <h1>Modification d'une entreprise</h1>
    {% else %}
        <h1>Ajout d'un entreprise</h1>
    {% endif %}
    
    {{ form(formEntreprise) }}

{% endblock %}
